.header {
  text-align: center;
}

.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
}
.tooltip-link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #b4b4b4;
  text-align: center;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

}

.tooltip-block {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  cursor: pointer;
}